/target/
/third_party/
*.rs.bk

/libs/
/output/

.env
.env.local
.env.*.local

.DS_Store
.AppleDouble
.LSOverride

Thumbs.db
ehthumbs.db
Desktop.ini

.vscode/
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

.idea/
*.iml
